@use '../../assets/MainStyles/Main' as Main;
$break-small: 410px;
$break-med: 850px;
$break-large: 1200px;
@media screen and (max-width: $break-med) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    text-align: center;
    font-size: x-large;
    margin: 10% 10% 0 10%;
  }
  img {
    width: 75%;
    margin: 12%;
    border-radius: 300px;
  }
  .details {
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    margin: 0 8%;
    .field {
      border: none;
      margin: 2% 5%;
    }
  }
  .btn {
    margin-top: 12%;
    width: 120px;
    align-self: center;
    @include Main.button();
  }
  .btn:hover {
    background-color: blue;
  }
}
@media screen and (min-width: $break-large) {
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .title {
    text-align: center;
    font-size: xx-large;
    margin: 1% 1% 0 1%;
  }
  img {
    width: 100%;
    margin: 7% 0;
    border-radius: 300px;
  }
  .details {
    display: flex;
    width: 130%;
    flex-direction: column;
    border-top: 1px solid lightgray;
    .field {
      border: none;
      font-size: x-large;
      margin: 2% 0;
    }
  }
  .btn {
    margin-top: 10%;
    width: 200px;
    height: 50px;
    @include Main.button();
  }
  .btn:hover {
    background-color: blue;
  }
}